$font: Arial, Helvetica, sans-serif;

$tooltip-font-color: #fff;

$ls: 1px;

$font-s: 0.5em;
$font-m: 0.8em;
$font-l: 1.5em;

$p-s: 0.5rem;
$p-m: 1rem;
$p-l: 1.5rem;

$m-s: 0.5rem;
$m-m: 1rem;
$m-l: 1.5rem;
